<a href="https://colab.research.google.com/github/gangapurambhargav/may-2021-ml/blob/main/Day7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PANDAS:
1. pip install pandas

In [1]:
import pandas as pd

In [4]:
dataf = pd.read_csv("/content/mtcars.csv")

In [9]:
dataf

                  model   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0             Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1         Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2            Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3        Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4     Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2
5               Valiant  18.1    6  225.0  105  ...  20.22   1   0     3     1
6            Duster 360  14.3    8  360.0  245  ...  15.84   0   0     3     4
7             Merc 240D  24.4    4  146.7   62  ...  20.00   1   0     4     2
8              Merc 230  22.8    4  140.8   95  ...  22.90   1   0     4     2
9              Merc 280  19.2    6  167.6  123  ...  18.30   1   0     4     4
10            Merc 280C  17.8    6  167.6  123  ...  18.90   1   0     4     4
11           Merc 450SE  16.4    8  275.8  180  ...  17.40   0   0     3     3
12           Merc 450SL  17.3    8  275.8  180  ...  17.60   0   0     3     3
13          Merc 450SLC  15.2    8  275.8  180  ...  18.00   0   0     3     3
14   Cadillac Fleetwood  10.4    8  472.0  205  ...  17.98   0   0     3     4
15  Lincoln Continental  10.4    8  460.0  215  ...  17.82   0   0     3     4
16    Chrysler Imperial  14.7    8  440.0  230  ...  17.42   0   0     3     4
17             Fiat 128  32.4    4   78.7   66  ...  19.47   1   1     4     1
18          Honda Civic  30.4    4   75.7   52  ...  18.52   1   1     4     2
19       Toyota Corolla  33.9    4   71.1   65  ...  19.90   1   1     4     1
20        Toyota Corona  21.5    4  120.1   97  ...  20.01   1   0     3     1
21     Dodge Challenger  15.5    8  318.0  150  ...  16.87   0   0     3     2
22          AMC Javelin  15.2    8  304.0  150  ...  17.30   0   0     3     2
23           Camaro Z28  13.3    8  350.0  245  ...  15.41   0   0     3     4
24     Pontiac Firebird  19.2    8  400.0  175  ...  17.05   0   0     3     2
25            Fiat X1-9  27.3    4   79.0   66  ...  18.90   1   1     4     1
26        Porsche 914-2  26.0    4  120.3   91  ...  16.70   0   1     5     2
27         Lotus Europa  30.4    4   95.1  113  ...  16.90   1   1     5     2
28       Ford Pantera L  15.8    8  351.0  264  ...  14.50   0   1     5     4
29         Ferrari Dino  19.7    6  145.0  175  ...  15.50   0   1     5     6
30        Maserati Bora  15.0    8  301.0  335  ...  14.60   0   1     5     8
31           Volvo 142E  21.4    4  121.0  109  ...  18.60   1   1     4     2

[32 rows x 12 columns]

Table Datatypes analysis
1. shows data columns.

In [11]:
dataf.info() # shows datatypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   model   32 non-null     object
 1   mpg     32 non-null     float64
 2   cyl     32 non-null     int64
 3   disp    32 non-null     float64
 4   hp      32 non-null     int64
 5   drat    32 non-null     float64
 6   wt      32 non-null     float64
 7   qsec    32 non-null     float64
 8   vs      32 non-null     int64
 9   am      32 non-null     int64
 10  gear    32 non-null     int64
 11  carb    32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

Tabe Describe
1. It Tells the total COUNT,mean,std,min,25%,50%,75%,max.

In [12]:
dataf.describe()

             mpg        cyl        disp  ...         am       gear     carb
count  32.000000  32.000000   32.000000  ...  32.000000  32.000000  32.0000
mean   20.090625   6.187500  230.721875  ...   0.406250   3.687500   2.8125
std     6.026948   1.785922  123.938694  ...   0.498991   0.737804   1.6152
min    10.400000   4.000000   71.100000  ...   0.000000   3.000000   1.0000
25%    15.425000   4.000000  120.825000  ...   0.000000   3.000000   2.0000
50%    19.200000   6.000000  196.300000  ...   0.000000   4.000000   2.0000
75%    22.800000   8.000000  326.000000  ...   1.000000   4.000000   4.0000
max    33.900000   8.000000  472.000000  ...   1.000000   5.000000   8.0000

[8 rows x 11 columns]

head() Function:
1. It Selects first five(5) Values of the dataset

In [13]:
dataf.head()

               model   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0          Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2         Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3     Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4  Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2

[5 rows x 12 columns]

tail() Function:
1. It Selects last Five(5) Values of the dataset.

In [14]:
dataf.tail()

             model   mpg  cyl   disp   hp  ...  qsec  vs  am  gear  carb
27    Lotus Europa  30.4    4   95.1  113  ...  16.9   1   1     5     2
28  Ford Pantera L  15.8    8  351.0  264  ...  14.5   0   1     5     4
29    Ferrari Dino  19.7    6  145.0  175  ...  15.5   0   1     5     6
30   Maserati Bora  15.0    8  301.0  335  ...  14.6   0   1     5     8
31      Volvo 142E  21.4    4  121.0  109  ...  18.6   1   1     4     2

[5 rows x 12 columns]

head(10) - 
1. User defined selection parameters 
2. can be applied to tail function

In [15]:
dataf.head(10)

               model   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0          Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2         Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3     Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4  Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2
5            Valiant  18.1    6  225.0  105  ...  20.22   1   0     3     1
6         Duster 360  14.3    8  360.0  245  ...  15.84   0   0     3     4
7          Merc 240D  24.4    4  146.7   62  ...  20.00   1   0     4     2
8           Merc 230  22.8    4  140.8   95  ...  22.90   1   0     4     2
9           Merc 280  19.2    6  167.6  123  ...  18.30   1   0     4     4

[10 rows x 12 columns]

In [17]:
dataf.sample(5)

            model   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
18    Honda Civic  30.4    4   75.7   52  ...  18.52   1   1     4     2
7       Merc 240D  24.4    4  146.7   62  ...  20.00   1   0     4     2
13    Merc 450SLC  15.2    8  275.8  180  ...  18.00   0   0     3     3
29   Ferrari Dino  19.7    6  145.0  175  ...  15.50   0   1     5     6
26  Porsche 914-2  26.0    4  120.3   91  ...  16.70   0   1     5     2

[5 rows x 12 columns]

In [18]:
dataf['cyl'] # only cylinder

0     6
1     6
2     4
3     6
4     8
5     6
6     8
7     4
8     4
9     6
10    6
11    8
12    8
13    8
14    8
15    8
16    8
17    4
18    4
19    4
20    4
21    8
22    8
23    8
24    8
25    4
26    4
27    4
28    8
29    6
30    8
31    4
Name: cyl, dtype: int64

In [20]:
dataf[['model','cyl']]

                  model  cyl
0             Mazda RX4    6
1         Mazda RX4 Wag    6
2            Datsun 710    4
3        Hornet 4 Drive    6
4     Hornet Sportabout    8
5               Valiant    6
6            Duster 360    8
7             Merc 240D    4
8              Merc 230    4
9              Merc 280    6
10            Merc 280C    6
11           Merc 450SE    8
12           Merc 450SL    8
13          Merc 450SLC    8
14   Cadillac Fleetwood    8
15  Lincoln Continental    8
16    Chrysler Imperial    8
17             Fiat 128    4
18          Honda Civic    4
19       Toyota Corolla    4
20        Toyota Corona    4
21     Dodge Challenger    8
22          AMC Javelin    8
23           Camaro Z28    8
24     Pontiac Firebird    8
25            Fiat X1-9    4
26        Porsche 914-2    4
27         Lotus Europa    4
28       Ford Pantera L    8
29         Ferrari Dino    6
30        Maserati Bora    8
31           Volvo 142E    4

In [21]:
dataf[0:4] # displays first 4 rows

            model   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0       Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1   Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2      Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3  Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1

[4 rows x 12 columns]

In [22]:
dataf

                  model   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0             Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1         Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2            Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3        Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4     Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2
5               Valiant  18.1    6  225.0  105  ...  20.22   1   0     3     1
6            Duster 360  14.3    8  360.0  245  ...  15.84   0   0     3     4
7             Merc 240D  24.4    4  146.7   62  ...  20.00   1   0     4     2
8              Merc 230  22.8    4  140.8   95  ...  22.90   1   0     4     2
9              Merc 280  19.2    6  167.6  123  ...  18.30   1   0     4     4
10            Merc 280C  17.8    6  167.6  123  ...  18.90   1   0     4     4
11           Merc 450SE  16.4    8  275.8  180  ...  17.40   0   0     3     3
12           Merc 450SL  17.3    8  275.8  180  ...  17.60   0   0     3     3
13          Merc 450SLC  15.2    8  275.8  180  ...  18.00   0   0     3     3
14   Cadillac Fleetwood  10.4    8  472.0  205  ...  17.98   0   0     3     4
15  Lincoln Continental  10.4    8  460.0  215  ...  17.82   0   0     3     4
16    Chrysler Imperial  14.7    8  440.0  230  ...  17.42   0   0     3     4
17             Fiat 128  32.4    4   78.7   66  ...  19.47   1   1     4     1
18          Honda Civic  30.4    4   75.7   52  ...  18.52   1   1     4     2
19       Toyota Corolla  33.9    4   71.1   65  ...  19.90   1   1     4     1
20        Toyota Corona  21.5    4  120.1   97  ...  20.01   1   0     3     1
21     Dodge Challenger  15.5    8  318.0  150  ...  16.87   0   0     3     2
22          AMC Javelin  15.2    8  304.0  150  ...  17.30   0   0     3     2
23           Camaro Z28  13.3    8  350.0  245  ...  15.41   0   0     3     4
24     Pontiac Firebird  19.2    8  400.0  175  ...  17.05   0   0     3     2
25            Fiat X1-9  27.3    4   79.0   66  ...  18.90   1   1     4     1
26        Porsche 914-2  26.0    4  120.3   91  ...  16.70   0   1     5     2
27         Lotus Europa  30.4    4   95.1  113  ...  16.90   1   1     5     2
28       Ford Pantera L  15.8    8  351.0  264  ...  14.50   0   1     5     4
29         Ferrari Dino  19.7    6  145.0  175  ...  15.50   0   1     5     6
30        Maserati Bora  15.0    8  301.0  335  ...  14.60   0   1     5     8
31           Volvo 142E  21.4    4  121.0  109  ...  18.60   1   1     4     2

[32 rows x 12 columns]

In [26]:
dataf.sort_values(by='mpg', ascending=False)

                  model   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
19       Toyota Corolla  33.9    4   71.1   65  ...  19.90   1   1     4     1
17             Fiat 128  32.4    4   78.7   66  ...  19.47   1   1     4     1
27         Lotus Europa  30.4    4   95.1  113  ...  16.90   1   1     5     2
18          Honda Civic  30.4    4   75.7   52  ...  18.52   1   1     4     2
25            Fiat X1-9  27.3    4   79.0   66  ...  18.90   1   1     4     1
26        Porsche 914-2  26.0    4  120.3   91  ...  16.70   0   1     5     2
7             Merc 240D  24.4    4  146.7   62  ...  20.00   1   0     4     2
2            Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
8              Merc 230  22.8    4  140.8   95  ...  22.90   1   0     4     2
20        Toyota Corona  21.5    4  120.1   97  ...  20.01   1   0     3     1
31           Volvo 142E  21.4    4  121.0  109  ...  18.60   1   1     4     2
3        Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
1         Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
0             Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
29         Ferrari Dino  19.7    6  145.0  175  ...  15.50   0   1     5     6
9              Merc 280  19.2    6  167.6  123  ...  18.30   1   0     4     4
24     Pontiac Firebird  19.2    8  400.0  175  ...  17.05   0   0     3     2
4     Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2
5               Valiant  18.1    6  225.0  105  ...  20.22   1   0     3     1
10            Merc 280C  17.8    6  167.6  123  ...  18.90   1   0     4     4
12           Merc 450SL  17.3    8  275.8  180  ...  17.60   0   0     3     3
11           Merc 450SE  16.4    8  275.8  180  ...  17.40   0   0     3     3
28       Ford Pantera L  15.8    8  351.0  264  ...  14.50   0   1     5     4
21     Dodge Challenger  15.5    8  318.0  150  ...  16.87   0   0     3     2
13          Merc 450SLC  15.2    8  275.8  180  ...  18.00   0   0     3     3
22          AMC Javelin  15.2    8  304.0  150  ...  17.30   0   0     3     2
30        Maserati Bora  15.0    8  301.0  335  ...  14.60   0   1     5     8
16    Chrysler Imperial  14.7    8  440.0  230  ...  17.42   0   0     3     4
6            Duster 360  14.3    8  360.0  245  ...  15.84   0   0     3     4
23           Camaro Z28  13.3    8  350.0  245  ...  15.41   0   0     3     4
15  Lincoln Continental  10.4    8  460.0  215  ...  17.82   0   0     3     4
14   Cadillac Fleetwood  10.4    8  472.0  205  ...  17.98   0   0     3     4

[32 rows x 12 columns]